In [ ]:
# Deliverable One. Open a new Jupyter Notebook and load CSV file into the Jupyter Notebook.

# Task 1: Download the BUS336_Signature_Term_Project_Starbucks_Beverage_Menu CSV file from either the 
# Projects/Assignments folder in Blackboard or the GitHub account provided. 
# Save the CSV file in your C:\Users\YOUR COMPUTER NAME FOLDER.

In [ ]:
# Task 2: Import pandas as pd to work with a package that can process dataframes.
# ENTER CODE BELOW THIS LINE.


# Import the BUS336_Signature_Term_Project_Starbucks_Beverage_Menu.csv file using the pandas package.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Task 3: Rename the Jupyter Notebook from Untitled to the following name convention: 
# LastName_FirstName_BUS 336_Signature_Term_Project. 

# The file will be stored in the your C:\Users\YOUR COMPUTER NAME FOLDER.

In [ ]:
# Delivarable Two. Explore rows with all blank values and remove them.

# Task 1: Using the isnull and sum functions, check the total NaN entries for all columns in the dataframe.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Task 2: View the dataframe with the head function.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Task 3: Remove the row with all blank entries.
# The how='all' will drop all rows with only NaN values. 
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Task 4: Validate that the blank row(s) have been removed.
# Use the isnull and sum functions to validate that df2 has only one column remains with an NaN.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Deliverable Three. Explore the data types and correct any errors.

# Task One: Using the dtypes function, check the data types.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Task 2: Look for column with the incorrect data type, understand why it is incorrect, 
# and change it to the correct data type.

# In the dataframe, the Sugar_mg column has an incorrect string entry when it should be numeric. 
# A 0 value was entered as "zero". This will not result in a NaN, but Python will recognize this as a string. 
# We need to convert the string “zero” to an actual numerical 0. As a demonstration, we use the current dataframe that we are
# working with and use the index numbers to isolate the row and column. The iloc function helps us isolate that the entry
# zero is in the second row, 14th column (index positions 1 and 13). We set that cell value to the number 0 and it will change the "zero" to 0.
# Run the code and look compare the Sugar_g column in df1 to df and see how the "zero" turns into a 0.
df1.iloc[1,13] = 0
df1

In [ ]:
# Change Suger_g type to float.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Validate that the Sugar_g variable has been changed to a float.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Deliverable Four. Explore the NaN values and remove the row with any NaN values.

# Task 1: Using the info function, check for one NaN value.
# If the Non-Null Count has multiple “1204 non-null” entries, but one has a “1203 non-null” entry, 
# then that column still has a NaN value.

In [ ]:
# Task 2: Assign a new dataframe df2 and remove the row with the NaN entry from the Saturated_Fat_g column in df1.
# Drop any remaining rows that have an NaN.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Task 3: Validate that it has been corrected.
# Run the info function.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Deliverable Five: Change a column name.

# Task 1: Assign the dataframe to df3 and using the rename function, change the Caffiene_milligrams column header 
# from the df2 dataframe to Caffiene_mg.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Task 2: Validate that it has been corrected.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Deliverable Six: Describe the continuous and categorical data.

# Task 1: Using dataframe df3, use the describe() function to describe the continuous variables.

# Continuous variables obtain the measures of central tendency, such as the mean and median,
# as well as variance information such as standard deviations. 
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Task 2: Using dataframe df3, use the describe() function to describe the categorical variables.

# Categorical variable to get the count of rows, unique count of categories, top category, and freq of top category.

In [ ]:
# Task 3: Analyze, interpret, and write about the continuous and categorical variables.

# There are a many observations to note about the continuous variables that your client maybe interested to hear. 
# Here are just a few continuous variable observations. Students can note different ones.
# The minimum size for any drink is 236 ml, which is about 8 ounces. The maximum is 887 ml, which is about 30 ounces.
# Could there be opportunities to serve smaller or larger drinks? Why did Starbucks choose these drink size ranges?
# Every nutritional measure has a minimum zero count. What could that indicate?
# There drinks tend to have more Cholestoral then less. Look at the 0% to 50% percentage compared to the 75% to 100%.

# There are a many observations to note about the categorical variables that your client maybe interested to hear. 
# Here are just a few categorical variable observations. Students can note different ones.
# There ar 1,203 different drink combinations. Aprpoximately 94 are unique product names. 
# What resources does it take to train its employees to know the products?
# White Hot Chocolate is the Product Name that is repeated most often. Why? 
# Grande seems to be the most popular size.
# Customers appear to prefer Nonfat milk and do not prefer Whip cream for drinks that have that option.
# There are six different types of Milk options. Nowadays, the Milk options on the market far exceed six. 
# Is there opportunity here?
# There are seven different sizes for drinks. Is this too many, too little, or just the right amount?

In [ ]:
# Deliverable Seven: Write the dataframe to a CSV file, save it, and verify it as a CSV file.

# Task 1: Using the to_csv function, write dataframe df3 to a new df4.CSV file.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Task 2: 
# You do not have to make an entries to code anything for this task. Just check your file to make sure that df4 is saved.

In [ ]:
# Task 3: Assign a new dataframe and load the CSV file back into the Jupyter Notebook using the pandas package. 
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Task 4: Open the newly created CSV file in the Jupyter Notebook.
# ENTER CODE BELOW THIS LINE.

In [ ]:
# Deliverable Eight: Upload file into your GitHub Account.

# Share your work with others! You do not need to do anything else inside this file. Anyone who has the file can replicate
# the work that you have done. They can modify it at will.
# Now you will be able to explain to anyone what you did and how you did it with a clean trail. 
# Try duplicating that feat in Excel!

# Task #1: Open your GitHub account and upload the newly created df4.csv file.
# Task #2: Validate that it has been uploaded and can be opened by emailing it to yourself and  instructor.

In [2]:
# Deliverable Nine: Make a short video explaining deliverables one through nine.

# Follow the instruction in the Step-by-Step guide to submit it.

# Task #1: Rehearse, record, and present a video presentation.
# Task #2: Upload the video presentation.

In [1]:
# Deliverable Ten: Write a reflection below.

Start typing your reflection below this paragraph. You do not have to include a hash tag to begin the line as you did in Delivarabe Six. 
Just start typing and make sure that you put in line breaks when you get close to the right margin like you see here.
Try to hit the run button for this code block. You will get an SyntaxError message. Don't worry about it. I can still read 
your reflection. I just want you to see the difference if you type a narrative with or without a #.

# ENTER Reflection BELOW THIS LINE.

SyntaxError: unterminated string literal (detected at line 5) (2205757760.py, line 5)